# Xcode
DerivedData/
build/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcshareddata/IDEWorkspaceChecks.plist

# Build products
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# OS files
.DS_Store
*.swp
*~

